# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.


email: your-email@example.com

twitter_username: #jekyllrb
github_username:  knows1

# Build settings
theme: minima
plugins:
  - jekyll-feed




# Site Settings
locale                   : "en-US"
title                    : "knows1"
title_separator          : "-"
subtitle                 : "حين تبحث عن المعرفة" # site tagline that appears below site title in masthead
name                     : "Sami"
description              : "مدونة شخصية."
url                      : "https://knows1.github.io/repository" # the base hostname & protocol for your site e.g. "https://mmistakes.github.io"
baseurl                  : "/theme" # the subpath of your site, e.g. "/blog"
repository               : "knows1/repository" # GitHub username/repo-name e.g. "mmistakes/minimal-mistakes"
masthead_title           : "knows1" # overrides the website title displayed in the masthead, use " " for no title
breadcrumbs              : true # true, false (default)
words_per_minute         : 200


# Defaults
defaults:
  # _posts
  - scope:
      path: "_posts"

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
