

<!--1-->

<!-- <nav>
  <a href="/">Home</a>
  <a href="/about.html">About</a>
</nav> -->

<!--2-->

<!--
<nav>
  <a href="/Repository" {% if page.url == "/" %}style="color: red;"{% endif %}>
    Home
  </a>
  <a href="/about.html" {% if page.url == "/about.html" %}style="color: red;"{% endif %}>
    About
  </a>
</nav> -->

<!--3-->




<!-- <nav>
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
      {{ item.name }}
    </a>
  {% endfor %}
</nav> -->


<!--4-->

<!--
SassPermalink
The inline styles used in _includes/navigation.html is not a best practice, let’s style the current page with a class instead.-->













